@media all {
    .hlist {
        width: 100%;
        overflow: hidden;
        float: left;
        display: inline;
        position: relative;
        background: #103954 url("layout/background.png") repeat-x center right;
        border-top: 1px #333 solid;
        border-bottom: 1px #333 solid;
        line-height: 0;
        font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    }

    .hlist ul {
        margin: 0;
        padding: 0;
        display: inline;
        float: left; /* LTR */
        border-left: 1px #aaa solid;
        border-right: 1px #fff solid;
    }

    .hlist ul li {
        border-left: 1px #fff solid;
        border-right: 1px #aaa solid;
        display: inline;
        float: left; /* LTR */
        font-size: 1.0em;
        line-height: 1em;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .hlist ul li a,
    .hlist ul li strong {
        background: transparent;
        color: #000;
        display: block;
        font-size: 1em;
        font-weight: bold;
        margin: 0;
        padding: 0.5em 0.8em 0.5em 0.8em;
        text-decoration: none;
        width: auto;
    }

    .hlist ul li a:focus,
    .hlist ul li a:hover,
    .hlist ul li a:active {
        background: #eee;
        color: #333;
        text-decoration: none;
        outline: 0 none;
    }

    .hlist ul li.active {
        background: #272727 url("layout/background_active.png") repeat-x center right;
        border-left: 1px #444 solid;
        border-right: 1px #888 solid;
    }

    .hlist ul li.active strong,
    .hlist ul li.active a:focus,
    .hlist ul li.active a:hover,
    .hlist ul li.active a:active {
        background: transparent;
        color: #fff;
        text-decoration: none;
    }

    .page_margins {
        width: auto;
        min-width: 740px;
        max-width: 90em;
        background: #fff;
    }

    .page {
        padding: 10px;
    }

    #header {
        position: relative;
        padding: 20px 2em 1em 20px;
        color: #000;
        background: #fff;
    }

    #main {
        margin: 10px 0;
        background: #fff;
    }

    #footer {
        padding: 10px 20px;
        color: #666;
        background: #f9f9f9;
        border-top: 5px #efefef solid;
        text-align: center;
    }

    #col1 {
        float: left;
        width: 17%;
        margin: 0;
    }

    #col2 {
        float: right;
        width: 35%;
        margin: 0;
    }

    #col3 {
        width: auto;
        margin: 0 35% 0 17%;
    }

    #col1_content {
        padding: 0 10px 0 10px;
    }

    #col2_content {
        padding: 20px 10px 0 10px;
    }

    #col3_content {
        padding: 20px 10px 0 10px;
    }

    .clearfix {
        display: block;
    }

    #ie_clearing {
        display: none;
    }

    div#h1 {
        margin: 0 auto;
        text-align: center;
        font: 42px normal georgia, sans-serif;
        padding: 50px 0 0 0;
    }

    div#content {
        margin: 0 auto;
        width: 80%;
        font: 20px normal georgia, sans-serif;
        text-indent: 20px;
        padding: 50px 0 0 0;
    }

    .filepanel {
        width: 400px;
        height: 400px;
        border-top: solid 1px #BBB;
        border-left: solid 1px #BBB;
        border-bottom: solid 1px #FFF;
        border-right: solid 1px #FFF;
        background: #FFF;
        overflow: scroll;
        padding: 5px;
    }
}
