body {
    background: url(../images/background.png) no-repeat center;
}

div#content {
    margin:0 auto;
    width: 80%;
    font: 20px normal georgia, sans-serif;
    text-indent:20px;
        padding:50px 0 0 0;
}

div#h1 {
    margin:0 auto;
    text-align: center;
    font: 48px normal georgia, sans-serif;
    padding:50px 0 0 0;
}

div#h2 {
    margin:0 auto;
    text-align: center;
    font: 28px normal georgia, sans-serif;
    padding:50px 0 0 0;
}

.login table { width: auto; margin: 0;}

/*table { width: 75%; text-align:center; margin: 80px; border-collapse: collapse; }

td { padding: .3em; border: 1px #96c7ff solid; text-align: center; }

th { padding: .3em; border: 1px #96c7ff solid; background: #bdd2e9;}

thead { background: #bdd2e9; }*/

p {
margin-top : 0;
text-align : justify;
}

h2 {
    margin:0 auto;
    text-align: center;
    font: 38px normal georgia, sans-serif;
    color: #7d775c;
    padding:50px 0 0 0;
}

h3 {
    font : italic normal 1.4em georgia, sans-serif;
    letter-spacing : 1px;
    margin-bottom : 0;
    color : #7d775c;
}

a:link {
    font-weight : bold;
    text-decoration : none;
    color : #b7a5df;
}

a:visited {
    font-weight : bold;
    text-decoration : none;
    color : #d4cddc;
}

a:hover, a:active {
    text-decoration : underline;
    color : #9685ba;
}

#footer {
text-align : center;
}
#footer a:link, #footer a:visited {
margin-right : 20px;
}