body {

    background: #e5e5e5;
    	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

div#content {
    margin:0 auto;
    width: 80%;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    text-indent:20px;
    padding:50px 0 0 0;
}

div#h1 {
    margin:0 auto;
    text-align: center;
    font: 48px normal georgia, sans-serif;
    padding:50px 0 0 0;
}

div#h2 {
    margin:0 auto;
    text-align: center;
    font: 28px normal georgia, sans-serif;
    padding:50px 0 0 0;
}

.login table { width: auto; margin: 0;}

p {
	margin-top : 0;
	text-align : justify;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

h2 {
    margin:0 auto;
    text-align: center;
    font: 38px normal georgia, sans-serif;
    color: #7d775c;
    padding:50px 0 0 0;
}

h3 {
    font : italic normal 1.4em georgia, sans-serif;
    letter-spacing : 1px;
    margin-bottom : 0;
    color : #7d775c;
}


#footer a:link, #footer a:visited {
	margin-right : 20px;
}

#footer{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 75%;
	clear: left;
	width: 100%;
	background: #e5e5e5;
	color: black;
	text-align: center;
	padding: 4px 0;
}

#table
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
}
#table td, #table th 
{
	font-size:1em;
	border:1px solid #98bf21;
	padding:3px 7px 2px 7px;
}
#table th 
{
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A7C942;
	color:#ffffff;
}
#table tr.alt td 
{
	color:#000000;
	background-color:#EAF2D3;
}

button {
	background-color:rgb(186,85,211);
	border-style:solid;
	border-left-color:rgb(238,130,238);
	border-top-color:rgb(238,130,238);
	border-right-color:rgb(128,0,128);
	border-bottom-color:rgb(128,0,128);
	color:rgb(250,250,226)

}