#maincontainer{
width: 840px; /*Width of main container*/
margin: 0 auto; /*Center container on page*/
}

#topsection{
background: #EAEAEA;
height: 90px; /*Height of top section*/
}

#topsection h1{
margin: 0;
padding-top: 15px;
}

#contentwrapper{
float: center;
width: 100%;
}

#contentcolumn{
margin: 0 190px 0 180px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
}

#leftcolumn{
	float: left;
	width: 180px; /*Width of left column in pixel*/
	margin-left: -840px; /*Set margin to that of -(MainContainerWidth)*/
	background: #C8FC98;
}

#rightcolumn{
	float: left;
	width: 190px; /*Width of right column*/
	margin-left: -190px; /*Set left margin to -(RightColumnWidth)*/
	background: #FDE95E;
}



.innertube{
	margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
	margin-top: 0;
}