body {
    background-color: #e5e5e5;
    font-family: Arial,sans-serif;
    text-align:center; 
}

#page {
    width: 960px;
    margin:0 auto;
}

#header{
    background-image: url("../images/header.png");
    width: 960px;
    height: 258px;
}

#content{
    width: 960px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#bottomBar{
    text-align: left;
    width: 960px;
    height: 24px;
    background-image: url("../images/bottomBar.png");
    color: #0e4272;
    font-size: 0.75em
}

#bottomBar span{
    vertical-align: middle;
    height: 24px;
    margin-left: 20px;
    line-height: 24px;
}

#footer{
    text-align: center;
    font-size: 0.6em;
    color: #676767;
    width: 960px;
    height: 100px;
}

/* login page*/

#loginTop{
    width: 960px;
    height: 10px;
    background-image: url("../images/loginTop.png");
}

#loginMiddle{
    color: #ffffff;
    padding-left: 60px;
    width: 900px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #113952;
}

#loginBottom{
    background-image: url("../images/loginBottom.png");
    width: 960px;
    height: 10px;
}

/* index page */

#indexTop{
    width: 960px;
    height: 34px;
    background-image: url("../images/indexTop.png");
}

#indexMiddle{
    width: 960px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #ffffff;
    background-image: url("../images/ss-logo.png");
    background-position: 95% 100%;
    background-repeat: no-repeat;
}

#indexBottom{
    background-image: url("../images/indexBottom.png");
    width: 960px;
    height: 10px;
}

/* index nav */

#indexNavStart{
    width: 250px;
    height: 34px;
    background-image: url("../images/indexNavStart.png");
    background-position: right;
    background-repeat: no-repeat;
    float: left;
}

#indexNav{
    margin-left: 250px;
    background-color: #103954;
    height: 34px;
    text-align: left;
    width: 400px;
    overflow: hidden;
}

#indexNav ul{
    display: inline;
    margin: 0;
    padding: 0;
}

#indexNav ul li{
    display: inline;
    line-height: 34px;
    margin: 0 10px 0 10px;
    padding: 0;
    font-family: arial,sans-serif;
    color: #ffffff;
}

#indexNav ul li.active a{
    color: #ecb800;
    text-decoration: none;
    font-family: arial,sans-serif;
}

#indexNav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: arial,sans-serif;
}

/** menu along left side */
#indexLeftMenu {
    width: 200px;
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
}

#indexLeftMenu ul{
    display: block;
    margin: 0;
    padding: 0;
}

#indexLeftMenu ul li{
    display: block;
    padding: 0 10px 0 0;
    margin: 0 0 10px 0;
    height: 35px;
    line-height: 35px;
    background-color: #103954;
    background-image: url("../images/indexLeftMenuEnd.png");
    background-position: right;
    background-repeat: no-repeat;
}

#indexLeftMenu ul li.active a{
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 0.95em;
    color: #edb200;
}

#indexLeftMenu ul li a{
    font-size: 0.95em;
    text-decoration: none;
    color: #dbd9d9;
    font-family: arial,sans-serif;
}

#indexContainer{
    width: 600px;
    float: left;
    margin-left: 40px;
    margin-right: 10px;
}

#indexClear{
    clear: both;
}

#contentList {
    text-align: left;
    font-family: arial, sans-serif;
    text-decoration: none;
    font-weight: 100;
    font-size: 0.85em;
}

#contentList table{
    border-collapse: collapse;
    width: 550px;
}

#contentList table tr th{
    color: #ffffff;
    background-color: #638aab;
    border: 1px solid #acc3d5;
    padding: 3px;
}

#contentList table tr td{
    color: #638aab;
    background-color: #ffffff;
    border: 1px solid #acc3d5;
    padding: 3px;
}

#contentList table tr td.highlighted{
    background-color: #ebf0f3;
    padding: 3px;
}

.files span{
    background: url(filetree/file.png) left center no-repeat;
    padding-left: 20px;
}

/* File Extensions*/
.files span.ext_3gp { background: url(filetree/film.png) left top no-repeat; }
.files span.ext_afp { background: url(filetree/code.png) left top no-repeat; }
.files span.ext_afpa { background: url(filetree/code.png) left top no-repeat; }
.files span.ext_asp { background: url(filetree/code.png) left top no-repeat; }
.files span.ext_aspx { background: url(filetree/code.png) left top no-repeat; }
.files span.ext_avi { background: url(filetree/film.png) left top no-repeat; }
.files span.ext_bat { background: url(filetree/application.png) left top no-repeat; }
.files span.ext_bmp { background: url(filetree/picture.png) left top no-repeat; }
.files span.ext_c { background: url(filetree/code.png) left top no-repeat; }
.files span.ext_cfm { background: url(filetree/code.png) left top no-repeat; }
.files span.ext_cgi { background: url(filetree/code.png) left top no-repeat; }
.files span.ext_com { background: url(filetree/application.png) left top no-repeat; }
.files span.ext_cpp { background: url(filetree/code.png) left top no-repeat; }
.files span.ext_css { background: url(filetree/css.png) left top no-repeat; }
.files span.ext_doc { background: url(filetree/doc.png) left top no-repeat; }
.files span.ext_exe { background: url(filetree/application.png) left top no-repeat; }
.files span.ext_gif { background: url(filetree/picture.png) left top no-repeat; }
.files span.ext_fla { background: url(filetree/flash.png) left top no-repeat; }
.files span.ext_h { background: url(filetree/code.png) left top no-repeat; }
.files span.ext_htm { background: url(filetree/html.png) left top no-repeat; }
.files span.ext_html { background: url(filetree/html.png) left top no-repeat; }
.files span.ext_jar { background: url(filetree/java.png) left top no-repeat; }
.files span.ext_jpg { background: url(filetree/picture.png) left top no-repeat; }
.files span.ext_jpeg { background: url(filetree/picture.png) left top no-repeat; }
.files span.ext_js { background: url(filetree/script.png) left top no-repeat; }
.files span.ext_lasso { background: url(filetree/code.png) left top no-repeat; }
.files span.ext_log { background: url(filetree/txt.png) left top no-repeat; }
.files span.ext_m4p { background: url(filetree/music.png) left top no-repeat; }
.files span.ext_mov { background: url(filetree/film.png) left top no-repeat; }
.files span.ext_mp3 { background: url(filetree/music.png) left top no-repeat; }
.files span.ext_mp4 { background: url(filetree/film.png) left top no-repeat; }
.files span.ext_mpg { background: url(filetree/film.png) left top no-repeat; }
.files span.ext_mpeg { background: url(filetree/film.png) left top no-repeat; }
.files span.ext_ogg { background: url(filetree/music.png) left top no-repeat; }
.files span.ext_pcx { background: url(filetree/picture.png) left top no-repeat; }
.files span.ext_pdf { background: url(filetree/pdf.png) left top no-repeat; }
.files span.ext_php { background: url(filetree/php.png) left top no-repeat; }
.files span.ext_png { background: url(filetree/picture.png) left top no-repeat; }
.files span.ext_ppt { background: url(filetree/ppt.png) left top no-repeat; }
.files span.ext_psd { background: url(filetree/psd.png) left top no-repeat; }
.files span.ext_pl { background: url(filetree/script.png) left top no-repeat; }
.files span.ext_py { background: url(filetree/script.png) left top no-repeat; }
.files span.ext_rb { background: url(filetree/ruby.png) left top no-repeat; }
.files span.ext_rbx { background: url(filetree/ruby.png) left top no-repeat; }
.files span.ext_rhtml { background: url(filetree/ruby.png) left top no-repeat; }
.files span.ext_rpm { background: url(filetree/linux.png) left top no-repeat; }
.files span.ext_ruby { background: url(filetree/ruby.png) left top no-repeat; }
.files span.ext_sql { background: url(filetree/db.png) left top no-repeat; }
.files span.ext_swf { background: url(filetree/flash.png) left top no-repeat; }
.files span.ext_tif { background: url(filetree/picture.png) left top no-repeat; }
.files span.ext_tiff { background: url(filetree/picture.png) left top no-repeat; }
.files span.ext_txt { background: url(filetree/txt.png) left top no-repeat; }
.files span.ext_vb { background: url(filetree/code.png) left top no-repeat; }
.files span.ext_wav { background: url(filetree/music.png) left top no-repeat; }
.files span.ext_wmv { background: url(filetree/film.png) left top no-repeat; }
.files span.ext_xls { background: url(filetree/xls.png) left top no-repeat; }
.files span.ext_xml { background: url(filetree/code.png) left top no-repeat; }
.files span.ext_zip { background: url(filetree/zip.png) left top no-repeat; }