<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="StandardAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="File" value="##TOMCAT_HOME##/logs/secured-shares.log"/>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{ISO8601} [%t] %-5p %c (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="StandardAppender"/>
    </root>

    <category name="ro.panzo">
        <level value="debug"/>
    </category>

    <category name="org.apache.jsp">
        <level value="debug"/>
    </category>

</log4j:configuration>
